name: CI

on:
  push:
  pull_request:

jobs:
  native-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21

      - name: Enable magic Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@v13

      - name: Build
        run: nix develop ./nix --command make build

      - name: Test
        run: nix develop ./nix --command make test

  cross-builds:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch: [aarch64, windows, wasm]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21

      - name: Enable magic Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@v13

      - name: Cross build (${{ matrix.arch }})
        run: nix develop ./nix#${{ matrix.arch }} --command make cross-${{ matrix.arch }}
